<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.WebAppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaFilmServlet</servlet-name>
        <servlet-class>servlets.ListaFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <servlet-class>servlets.RegistrazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Evento</servlet-name>
        <servlet-class>Bean.Evento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilmServlet</servlet-name>
        <servlet-class>servlets.FilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostiServlet</servlet-name>
        <servlet-class>servlets.PostiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSeatAvailabilityServlet</servlet-name>
        <servlet-class>servlets.DisponibilitàPostiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prenotazione</servlet-name>
        <servlet-class>Bean.Prenotazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperoPasswordServlet</servlet-name>
        <servlet-class>servlets.RecuperoPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaFilmServlet</servlet-name>
        <url-pattern>/ListaFilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <url-pattern>/RegistrazioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Evento</servlet-name>
        <url-pattern>/Evento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilmServlet</servlet-name>
        <url-pattern>/FilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostiServlet</servlet-name>
        <url-pattern>/PostiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSeatAvailabilityServlet</servlet-name>
        <url-pattern>/CheckSeatAvailabilityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prenotazione</servlet-name>
        <url-pattern>/Prenotazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperoPasswordServlet</servlet-name>
        <url-pattern>/RecuperoPasswordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/cinemangiare_db;user=cinemangiare;password=password</param-value>
    </context-param>
</web-app>
